
@{
    ViewData["Title"] = "Index";
}
@model TwilioSend.Models.TargetPhones;
<h1>Send a VVC invite and a confirmation</h1>


@*<div class="text-sm-center">
    <form asp-action="Index" asp-controller="TwilioApi">

        <label asp-for="inviteLink"> </label>
        <input asp-for="inviteLink" placeholder="VVC/Zoom link goes here." />
        <input type="submit" />
    </form>
</div>*@